@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #F70839;
  --primaryHover: #ff3059;
  --text: #111A45;
}

* {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.button-default {
  display: block;
  background-color: var(--primary);
  padding: 8px 12px;
  color: white;
  border-radius: 8px;
  transition: 400ms;
}

.button-default:hover {
  background-color: var(--primaryHover);
}